*{
    margin: 0;
    padding: 0;
}
body{
   box-sizing: border-box; 
}
.grid{
    position: relative;
    height: 57rem;
    width: 45rem;
    background-color: rgb(242, 246, 10);
    justify-self: center;
}
.doodler{
    position: absolute;
    height: 8rem;
    width: 6rem;
    background-color: red;
}
.platforms{
    width: 9rem;
    height: 1rem;
    background-color: green;
    position: absolute;
}